@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom class to hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color:rgb(0, 0, 0);
}